.Chart {
  font-family: sans-serif;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 100px;
  position: relative;
}

.timeframe {
  display: flex;
  align-items: center;

  label {
    padding-top: .5em;
  }
}