.dashboard-container {
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column-reverse;
}

.menu-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: 800;
  justify-content: center;
  align-items: baseline;
}


.info-container {
  margin-left: 20%;
  margin: top 10px;
  margin-bottom: 40px;
  text-align: center;
}

.option-lable {
  font-weight: 800;
  margin: 10px;
  text-decoration: underline;
}

.timeframe {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .dashboard-container {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid black
  }
  .info-container {
    margin-left:20%;
    margin-right: 30px;
  }
  .menu-container {
    margin-top: 600px;
    margin-left: 10%;
    position: relative;
  }
}