.dashboard-container {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
  border: solid black;
  padding: 10px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  font-weight: 800;
  justify-content: flex-start;
  align-items: baseline;
}  
.info-container {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  flex: 2;
  height: 100px;
}

.option-lable {
  font-weight: 800;
  margin: 10px;
  text-decoration: underline;
}

.timeframe {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}



@media only screen and (max-width: 1024px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: rgb(237, 240, 252);
    border: none
  }

  .timeframe {
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .first-column {
    display: flex;
    flex-direction: row;
  }
  .second-column {
    display: flex;
    flex-direction: row;
  }
}