.form-container{
  margin-bottom: 300px;
  display: block;
  margin: 50px;
  width: 90%;
  height: auto;
}

.input-feild {
  margin: 10px
}

.form-button {
  margin-top: 20px;
}

form {
  width: 100%;
}