#main_image {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  display: flex;
  position: relative;
}

#container {
  width: 100%;
  height: 800px;
  margin-top: 0;
  text-align: center;
  background-image: url("../background.jpeg");
  background-color: #cccccc;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  overflow: hidden;
}

.coins {
  width: 100%;
  margin-top: 100px;
  position: absolute; 
  margin-left: 0;
}

/* 
#coins2 {
  width: 100%;
  position: absolute; 
  top: 800px; 
  right: 200px;
  margin-left: 0;
} */


.chart-dashboard-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px
}

@media only screen and (max-width: 1024px) {
  .chart-dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px
  }
}