.info-display {
  display: flex;
}

.balance {
  margin-right: 10px;
  margin-left: 10px;
}
.info-text {
  padding: 10px 60px 10px 60px;
  padding-bottom: 0;
  border: solid  rgba(0, 0, 0, 0.5) 2px;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin: 8px
}

.info-page-container:hover {
  font-weight: 700;
  .info-text {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7), inset 0 0 20px white;
    text-shadow: 0 0 40px white;
  }
}
.info-header {
  font-size: 18px;
  padding: 3px;
  // background-color: rgb(226, 235, 244);
  border: solid black 1px;
}

.info-content {
  font-size: 22px;

}

@media only screen and (max-width: 1024px) {
  .info-text {
    padding: 10px;
    padding-bottom: 0;
  }
}