.info-display {
  display: flex;
}

.balance {
  margin-right: 10px;
  margin-left: 10px;
}
.info-text {
  margin: 10px;
}
.info-header {
  font-size: 24px;
  padding: 3px;
  background-color: rgb(222, 226, 232);
}