.info-display {
  display: flex;
}

.balance {
  margin-right: 10px;
  margin-left: 10px;
}
.info-text {
  padding: 10px;
padding-bottom: 0;
}

.info-page-container:hover {
  background-color: rgb(159, 183, 220);
  font-size: 20px;
}
.info-header {
  font-size: 24px;
  padding: 3px;
  background-color: rgb(222, 226, 232);
}
