.coin-td {
  cursor: pointer;  
}

.coin-column {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.price {
  font-size: 17px;
  cursor: pointer;
}

.coin-logo {
  width: 32px;
  height: 32px;
}

.coin-button {
  background-color: #38537B;
  color: white;
  border: 2px solid white; 
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  width: 100px;
  font-family: 'Ubuntu', sans-serif;
}
  
.coin-button:hover {
  background-color: white; /* Green */
  color:black;
  border: solid black 1px
}
