
h1, h2 {
  font-size: 2em;
}


a {
  text-decoration: none!important;
  margin:0;
  padding: 5px;
}

a:hover {
  background-color: #ffffff;
}


button:focus {
  outline: none;
}

button:hover {
  border: none;
  cursor: pointer;
}


.navbar {
  border: none;
  background: #38537B;
  padding: 15px 0;
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.nav-text {
  font-size: 22px;
  color: white;
  font-family: Arial;
  margin-top: 0;
  padding: 20px;
}


.chart-dashboard-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px) {
  .chart-dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px
  }
}