h1, h2 {
  font-size: 2em;
}


a{
  display: inline-block;
  margin:0 0.5em;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  background-color: #416fc4;
}


button:focus {
  outline: none;
}

button:hover {
  border: none;
  cursor: pointer;
}


.navbar {
  display: flex;
  border: none;
  background: #1d1f5e;
  padding: 15px 0;
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.nav-text {
  font-size: 22px;
  color: white;
  font-family: Orbitron;
  margin-left: 75px;
  margin-top: 0;
}

.chart-dashboard-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px
}

@media only screen and (max-width: 1024px) {
  .chart-dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px
  }
}